<div class="input">

  <form [formGroup]="exampleForm">

    <div class="input__fields">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
              placeholder="Senha">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
          Please enter a valid password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Senha é <strong>obrigatória</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <button class="input__button" mat-raised-button color="primary">Entrar</button>

</div>


  </form>

</div>